/* Resets */
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* General Styling */

/* Colors */
.light-red {
  color: lightcoral;
}

.light-blue {
  color: deepskyblue;
}

.medium-green {
  color: limegreen;
}

.charcoal {
  color: #36454f;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #333;
}

nav {
  background: #222;
  padding: 1rem 1.5rem;
}

h1 {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
}

p {
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 0.055rem;
}

li {
  list-style: none;
}

header,
footer {
  background-color: #222;
}

/* Container Flexbox Layout */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container > * {
  padding: 2rem;
}

/* Header and Navigation */
.main-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-header ul {
  display: flex;
  order: 1;
  width: 100%;
  margin-top: 1.5rem;
}

.logo {
  font-size: 2.4rem;
}

.nav-link {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.5rem;
}

.main-header ul li:not(:last-child) {
  padding-right: 1.5rem;
}

/* Main Area */
.main-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

#map {
  height: 100%;
  width: 100%;
}

.map-area {
  height: 80vh;
  margin-top: 2rem;
}

#card-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: minmax(300px, auto);
  grid-auto-rows: minmax(150px, auto);
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.card {
  background-color: #fff;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  line-height: 1.2;
  padding: 5px;
  margin: 10px;
}

.card > h3 {
  color: red;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 8px 0;
}

.card > p {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 8px 10px;
}

.card > strong {
  color: royalblue;
  font-weight: 500;
  font-size: 1.25rem;
}

/* Footer Area */

.footer-area {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-area h2 {
  padding: 1rem;
  margin: 1rem;
}

.footer-area a {
  font-size: 1.25rem;
  text-decoration: underline;
  margin-top: 1rem;
  padding: 1rem;
}

/* Link Styling */
a {
  color: #fff;
  text-decoration: none;
}

/* Media Queries */

/* Small Screens / Tablets */
@media screen and (min-width: 550px) {
  .main-header ul {
    width: auto;
    margin-top: 0;
  }

  .footer-area {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  #card-container {
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, auto);
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}

/* Desktop Wide-screen */
@media screen and (min-width: 960px) {
  .logo {
    font-size: 3.4rem;
  }

  .nav-link {
    font-size: 2rem;
  }

  #card-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(150px, auto);
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}
