/* Map Sizing */
#map {
  height: 60%;
  width: 60%;
}

/* Box Sizing Reset */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* General Styling */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #333;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 700;
}

/* Container Grid Layout */
.container {
  height: 100%;
  display: grid;
  gap: 15px;
}
